<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Student Details</title>
    <link rel="stylesheet" type="text/css" href="/css/CreateStudent.css">
</head>
<body>
    <header>
        <h1>Please Fill the form</h1>
        <a href="/">Home</a>
    </header>

    <form action="/CreateStudent" id="student-form" method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>

        <div class="form-group">
            <label for="age" style="padding: 10px;">Age</label>
            <input type="number" id="age" name="age" required>
        </div>

        <div class="form-group">
            <label>Gender:</label>
            <input type="radio" id="male" name="gender" value="male" required>
            <label for="male">Male</label>

            <input type="radio" id="female" name="gender" value="female" required>
            <label for="female">Female</label>

            <input type="radio" id="other" name="gender" value="other" required>
            <label for="other">Other</label>
        </div>

        <div class="form-group">
            <input type="submit" value="Submit">
        </div>
    </form>

    <footer>
        <p>&copy; 2023 Our School. All rights reserved.</p>
    </footer>
</body>
</html>
