body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #5f6162;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 19px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.info {
    margin: 20px;
}

p {
    margin: 10px 0;
    font-size: 18px;
}

.attribute {
    font-weight: bold;
    margin-right: 5px;
}

span.attribute {
    color: #010a13;
}

footer {
    text-align: center;
    background-color: #666;
    color: #fff;
    padding: 10px 0;
    margin-top: 250px;
}